.logo{
    text-align: center;
}
.logo img{
    height: 200px;
}
nav{
    background-color: black;
    padding: 20px;
    
   
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 20px;
    
}
nav a:hover{
    background-color: rgb(61, 61, 61);
}